@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin gradient-background($color1, $color2) {
    background-image: linear-gradient(to right, $color1, $color2);
}


.sec {
    width: 50%;
    height: auto;
    margin: 0 auto;
    border: double 3px $color3;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(165, 130, 130, 0.23);
}

.carousel-item img {
    @include flex-center;
    max-width: 100%;
    max-height: 390px;
    width: auto;
    height: auto;
    margin: auto;
}

.carruselParrafo {
    @include flex-center;
    font-family: $font-family-2;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.subtitulo {
    @include flex-center;
    text-decoration: underline;
    font-family: $font-family-3;
    font-size: 23px;
    font-weight: 400;
    text-decoration: none;
    margin-top: 16px;
    color: #fff;
    border-radius: 17px;
}