.nav-bar {
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: $color2;
    padding: 12px 20px;
    font-family: "Red Hat Display", sans-serif;
}

.logo a {
    font-size: 30px;
    font-weight: 300;
    font-family: "Red Hat Display", sans-serif;
    margin-top: 5px;
    color: $color3;

    /* Color inicial del texto */
    text-decoration: none;

    &:hover {
        opacity: 0.5;
        transition: 0.4s;
    }
}

.menu {
    display: flex;

    li {
        padding-left: 45px;

        a {
            display: inline-block;
            text-decoration: none;
            color: $color3;
            text-align: center;
            transition: 0.15s ease-in-out;
            position: relative;
            text-transform: uppercase;
            letter-spacing: 2px;
            cursor: pointer;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background-color: $color1;
                transition: 0.15s ease-in-out;
            }

            &:hover {
                &:after {
                    width: 100%;
                }

                color: $color1;
                transition: 0.7s;
            }
        }
    }
}

.open-menu,
.close-menu {
    position: absolute;
    color: $color3;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
    transform: translateY(50%);
}

#check {
    display: none;
}