
.nav-bar {
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: $color2;
    padding: 12px 20px;
    font-family: $font-family-1;
}

.logo a {
    font-size: 30px;
    font-weight: 300;
    font-family: $font-family-1;
    margin-top: 5px;
    color: $color3;
    text-decoration: none;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 45px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: $color3;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $color1;
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.menu li a:hover {
    color: $color1;
    transition: 0.7s;
}

.open-menu,
.close-menu {
    position: absolute;
    color: $color3;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}