/* Estilos base */
.about {
    margin: 105px auto;
    width: 1100px;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.aboutImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1/5;
    grid-row: 1/5;
    border: 1px;
    border-radius: 15px;
}

.aboutGradient {
    background-image: linear-gradient(20deg, #333131, $color4 50%);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    grid-column: 2/6;
    grid-row: 2/8;
}

.aboutArticle {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2em;
    box-shadow: 0 0 10px -8px rgba(0, 0, 0, 0.5);
    grid-column: 4/9;
    grid-row: 3/6;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    z-index: 1;
}

.aboutTitle {
    font-size: 2rem;
    font-family: $font-family-5;
    font-weight: 400;
    margin-bottom: 16px;
    text-align: center; 
}

.aboutParagraph {
    color: $color5;
    font-family: $font-family-1;
    font-size: 17px;
    font-weight: 500;
    text-align: center; 
    margin: 0; 
    z-index: 1;
}

.aboutContainer{
    display: inline-block;
    margin-bottom: 40px;
    margin-bottom: 50px;
}

h5 {
    color: $color5;
    z-index: 1;
}


@keyframes show{
    from{
        opacity: 0;
        scale: 25%;
    }

to{
    opacity: 1;
    scale: 100%;
    }
}

.aboutImg{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 60%;
    animation-fill-mode: both;
}

