// main

h2 {
    text-align: center; 
    font-size: 25px;
    font-weight: 400;
    font-family: $font-family-3;
    letter-spacing: 2.25px;
    color: $color5;
    padding-bottom: 12px;
    margin: 15px 0 20px 0;
}

main h1 {
    text-decoration: none;
}

p {
    font-size: 13.5px;
    padding: 10px;
    letter-spacing: 1px;
    font-family: $font-family-2;
    color: $color5;
    font-weight: 200;
}

main .parrafo p {
    background-color: rgba(12, 12, 12, 0.17);
    font-weight: 300;
    color: $color5;
    margin-top: 30px;
    font-size: 14px;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-family: $font-family-4;
    color: $color3;
    font-size: 27px;
    font-weight: 400;
    padding: 7px 14px;
    letter-spacing: 1.35px;
    text-decoration: none;
    color: $color5;
    border-radius: 17px;
}

main section{
margin: 0 15px 100px 15px;

    a {
        @include flex-center;
        font-weight: 400;
        font-size: 24px;
        color: $color5;
        text-decoration: underline;

        &:hover {
            color: $color1;
            transition: 0.7s;
        }
    }
}

iframe {
    display: block;
    margin: auto;
    padding: 10px;
}


.principal-image {
    position: relative;
    text-align: center;

}

.overlay-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-family: $font-family-3;
    color: #bdbdbd;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
}

.subtitle {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: $color5;
    z-index: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.sub-subtitle {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: $color5;
    z-index: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#redWine {
    width: 100%;
    height: auto;
    opacity: 0.7;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .overlay-text {
        font-size: 2rem;
    }

    .sub {
        font-size: 1rem;
    }

    .sub-subtitle {
        font-size: 0.8rem;
    }
}




