.principal-image {
    position: relative;
    text-align: center;
    animation: appear 0.5s ease forwards;

}

@keyframes appear {
from {
    scale: 10%; 
    opacity: 0; 
}

to {
    scale: 100%;
    opacity: 1;
}

}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.sub {
    position: absolute;
    top: 59%;
    left: 51%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: white;
    z-index: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.sub-subtitle {
    position: absolute;
    top: 65%;
    left: 51%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: white;
    z-index: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#redWine {
    width: 100%;
    height: auto;
    opacity: 0.5;
}


// nuestro equipo

.section-title {
    color: $color5;
    font-family: $font-family-3;
    font-size: 30px;
}

.section-title2{
    color: $color4;
    font-family: $font-family-5;
    font-size: 30px;
    font-weight: 500;
}

.section-description {
    color: $color5;
}

// Estilos para la sección Nosotros 
#about {
    background-color: $color4;
    overflow: hidden;
}

#about img {
    max-width: 100%;
    border-radius: 10px;
    opacity: 0; 
    transform: translateX(-100%);
    animation: slideInRight 1s forwards ease-in; 
}

#about .section-content{
    opacity: 0; 
    transform: translateX(-100%);
    animation: slideInLeft 1s forwards ease-in;
}


@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}



//  Estilos para la sección Nuestro Equipo
#our-team {
    background-color: $color4;
}

.team-member {
    margin-bottom: 30px;
}



.team-member h3{
    color: black;
    font-family: $font-family-1;
}


.team-member img {
    width: 250px;

    height: 250px;
    object-fit: cover;
    border: 3px solid $color4;
    border-radius: 50%;
    transition: transform 0.9s, box-shadow 0.9s;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8), 0 1px 3px rgba(0, 0, 0, 0.08);
}
}

@keyframes show{
        from{
            opacity: 0;
            scale: 60%;
        }
    
    to{
        opacity: 1;
        scale: 100%;
        }
    }
    
    .team-member img{
        view-timeline-name: --image;
        view-timeline-axis: block;
    
        animation-timeline: --image;
        animation-name: show;
    
        animation-range: entry 25% cover 60%;
        animation-fill-mode: both;
    }


.text-muted{
    font-size: 20px;
    font-family: $font-family-1;
    font-weight: 400;
    color: black;
}

/* Estilos para la sección "Nuestra Misión" */
#our-mission {
    background-color: $color4;
}

/* Estilos para títulos y enlaces */
.section-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-description {
    font-size: 18px;
    line-height: 1.5;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .section-title {
        font-size: 24px;
    }

    .section-description {
        font-size: 16px;
    }
}





