
/* Definición de variables */
$color1: #ae3b69;
$color2: #201d1a;
$color3: #b3a9a9;
$color4: #0C0C0C;
$color5: #fff;
$color6: #333333;
$font-family-1: 'Red Hat Display', sans-serif;
$font-family-2: 'Poppins', sans-serif;
$font-family-3: 'Cinzel', serif;
$font-family-4: 'Ubuntu', sans-serif;

