
@import "_variables";
@import "_header";
@import "_carrusel";
@import "_imagen";
@import "_mixin";
@import "_contacto";
@import "_layout";

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $color4;
    background-size: cover;
    background-position: center;
}

// main

h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    font-family: $font-family-3;
    letter-spacing: 2.25px;
    color: $color5;
    padding-bottom: 12px;
    margin: 15px 0 20px 0;
}

main h1 {
    text-decoration: none;
}

p {
    font-size: 13.5px;
    padding: 10px;
    letter-spacing: 1px;
    font-family: $font-family-2;
    color: $color5;
    font-weight: 200;
}

main .parrafo p {
    background-color: rgba(12, 12, 12, 0.17);
    font-weight: 300;
    color: $color5;
    margin-top: 30px;
    font-size: 14px;
}

h3 {
    @include flex-center;
    text-decoration: underline;
    font-family: $font-family-4;
    color: $color3;
    font-size: 27px;
    font-weight: 400;
    padding: 7px 14px;
    letter-spacing: 1.35px;
    text-decoration: none;
    color: $color5;
    border-radius: 17px;
}

main {
    padding: 13px;
    margin: 13px;
}

main a {
    @include flex-center;
    font-weight: 400;
    font-size: 24px;
    color: $color5;
    text-decoration: underline;
}

main a:hover {
    color: $color1;
    transition: 0.7s;
}

/* Estilos para la sección de características de los vinos */

.wine-features {
    padding: 50px 0; 
}

.containerSection {
    max-width: 1200px;
    margin: 0 auto; 
}

.feature {
    text-align: center; 
    margin-bottom: 20px; 
    padding: 20px; 
    background-color: $color3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.89);  
    height: 225px;
    transition: border 0.2s ease;
    transition: background-color 0.3s ease;
}

.feature i {
    font-size: 3em; 
    margin-bottom: 20px; 
    color: $color2; 
}

.feature h3 {
    color: $color1; 
    font-size: 20px; 
    font-family: $font-family-3;
    font-weight: 500;
}

.feature p {
    color: $color1; 
    font-family: $font-family-1;
    font-size: 15px;
    font-weight: 400;
}

.feature:hover {
    background-color: $color4;
    box-shadow: 0 0 10px rgb(255, 255, 255); 
    transform: scale(1.05); 
    transform: rotate(1deg);
    transition: transform 0,3 ease;
}

.feature:hover i {
    color: $color1;
}

.feature:hover p{
    color: $color5;
}

.feature:hover h3{
    color: $color5;
}

.additional-content {
    padding: 50px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.additional-content .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.additional-content .content-item {
    text-align: center;
    margin: 0 15px 30px;
    padding: 20px;
    background-color: $color3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(112, 111, 111);
    height: 225px;
    transition: border 0.2s ease;
    transition: background-color 0.3s ease;
}

.additional-content .content-item i {
    font-size: 3em;
    margin-bottom: 20px;
    color: $color2;
}

.additional-content .content-item h3 {
    color: $color1;
    font-size: 20px;
    font-family: $font-family-3;
    font-weight: 500;
}

.additional-content .content-item p {
    color: $color1;
    font-family: $font-family-1;
    font-size: 15px;
    font-weight: 600;
}

.additional-content .content-item:hover {
    background-color: $color4;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    transform: scale(1.05);
    transform: rotate(1deg);
}

.additional-content .content-item:hover p {
    color: $color5;
}

.additional-content .content-item:hover h3 {
    color: $color5;
}

.additional-content .content-item:hover i {
    color: $color1;
}

iframe {
    display: block;
    margin: auto;
    padding: 10px;
}

.reservarImagen {
    @include flex-center;
    margin-top: 32px;
}

.reservarImagen img {
    max-width: 100%;
    height: auto;
    width: 40rem;
    border: 4px $color4 solid;
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.981);
}

/* Footer */

.page-container {
    overflow: hidden;
    position: relative;
    min-height: 120px;
    background-color: #000000;
    background-image: linear-gradient(45deg, $color4 0%, #201c24 74%);

}

    .content-wrap {
    padding-bottom: 2.5rem;    /* altura de pie de página */
}

    #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto; 
}

.content-wrap p{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: $font-family-2;
    font-size: 13px;
    letter-spacing: 2.5px;

}

.icons{
    display: flex;
}

.footerParagraph p{
    display: flex;
    font-size: 15px;
    align-items: center;
    margin: 0 0 15px 40px;
}

.icons a{
    display: flex;
    font-size: 15px;
    align-items: center;
    margin: 0 0 30px 70px;
    color: $color5;
    font-family: $font-family-2;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.icons a:hover{
    color: $color1;
}
/* Vista de Vinos */
.galeria {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 270px);
    grid-gap: 18px;
    margin: auto;
}

.item {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    position: relative;
    border: 2px solid $color4;
    border-radius: 19.8px;
    box-shadow: 0px 7.2px 14.4px rgba(0, 0, 0, 0.533);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $color5;
    color: $color4;
    font-size: 13px;
    font-weight: 600;
    font-family: $font-family-3;
    padding: 7px;
    transition: all 0.9s;
}

.item:hover {
    transform: scale(0.95);
}

.descripcion {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 79px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 19.8px;
    padding: 5px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.descripcion p {
    color: $color4;
    font-size: 14px;
    font-weight: 300;
}

.item:hover .descripcion {
    opacity: 1;

}

.item1 {
    background-image: url(../img/coquena.jpg);
}

.item2 {
    background-image: url(../img/coquena_rose.jpeg);
}

.item3 {
    background-image: url(../img/gataflora-pink.jpg);
}  

.item4 {
    background-image: url(../img/gataflora.jpeg);
}

.item5 {
    background-image: url(../img/helios-tannat.png);
}

.item6 {
    background-image: url(../img/heliosmalbec.jpg);
}

.item7 {
    background-image: url(../img/puna2600.jfif);
}

.item8 {
    background-image: url(../img/puna2600rose.jpg);
}

/* Termina vista de vinos */

/* Media Queries */
@media (max-width: 900px) {
    .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 100px);
    grid-gap: 20px;
    }
}

@media (max-width: 600px) {
    .galeria {
    grid-template-columns: auto;
    grid-template-rows: repeat(9, 100px);
    grid-gap: 20px;
    }
}

@media (max-width: 700px) {
    .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: $color2;
    transition: all 0.2s ease-in-out;
    }

    .menu li {
    margin-top: 40px;
    }

    .menu li a {
    padding: 10px;
    }

    .open-menu,
    .close-menu {
    display: block;
    }

    #check:checked ~ .menu {
    right: 0;
    }

}
