
@import "_variables";
@import "_header";
@import "_carrusel";
@import "_imagen";
@import "_mixin";
@import "_contacto";


@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #0C0C0C;
    background-size: cover;
    background-position: center;
}

// main

h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    font-family: $font-family-3;
    letter-spacing: 2.25px;
    color: #fff;
    padding-bottom: 12px;
    margin: 15px 0 20px 0;
}

main h1 {
    text-decoration: none;
}

p {
    font-size: 13.5px;
    padding: 10px;
    letter-spacing: 1px;
    font-family: $font-family-2;
    color: #fff;
    font-weight: 200;
}

main .parrafo p {
    background-color: rgba(12, 12, 12, 0.17);
    font-weight: 300;
    color: #fff;
    margin-top: 30px;
    font-size: 14px;
}

h3 {
    @include flex-center;
    text-decoration: underline;
    font-family: $font-family-4;
    color: #D3D3D3;
    font-size: 27px;
    font-weight: 400;
    padding: 7px 14px;
    letter-spacing: 1.35px;
    text-decoration: none;
    color: #fff;
    border-radius: 17px;
}

main {
    padding: 13px;
    margin: 13px;
}


main a {
    @include flex-center;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    text-decoration: underline;
}

main a:hover {
    color: #ae3b69;
    transition: 0.7s;
}

/* Estilos para la sección de características de los vinos */

.wine-features {
    padding: 50px 0; 
}

.containerSection {
    max-width: 1200px;
    margin: 0 auto; 
}

.feature {
    text-align: center; 
    margin-bottom: 30px; 
    padding: 20px; 
    background-color: $color3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 251, 251, 0.1); 
    height: 225px;
    transition: border 0.2s ease;
    transition: background-color 0.3s ease;
}

.feature i {
    font-size: 3em; 
    margin-bottom: 20px; 
    color: $color1; 
}

.feature h3 {
    color: $color4; 
    font-size: 20px; 
    font-family: $font-family-3;
    font-weight: 500;
}

.feature p {
    color: $color4; 
    font-family: $font-family-1;
    font-size: 15px;
    font-weight: 400;
}

.feature:hover {
    background-color: $color1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05); 
    border: 2px solid $color5; 
    transform: rotate(1deg);
    transition: transform 0,3 ease;
}

.feature:hover i {
    color: $color4;
}

.feature:hover p{
    color: $color3;
}

.feature:hover h3{
    color: $color3;
}

.additional-content {
    padding: 50px 0; 
}

.additional-content .container {
    max-width: 1200px;
    margin: 0 auto; 
    text-align: center; 
}

.additional-content h2 {
    font-size: 24px; 
    margin-bottom: 20px; 
}

.content-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content-item {
    width: calc(33.33% - 20px); 
    margin: 0 10px 20px; 
    padding: 20px; 
    background-color: $color3; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

.content-item i {
    font-size: 48px; 
    color: $color1; 
    margin-bottom: 20px; 
}

.content-item h3 {
    font-size: 20px; 
    font-family: $font-family-3;
    font-weight: 500;
    margin-bottom: 10px; 
    color: $color2;
}

.content-item p {
    font-size: 16px; 
    font-family: $font-family-1;
    font-weight: 400;
    color: $color4; 
    line-height: 1.6; 
}





iframe {
    display: block;
    margin: auto;
    padding: 10px;
}

.reservarImagen {
    @include flex-center;
    margin-top: 32px;
}

.reservarImagen img {
    max-width: 100%;
    height: auto;
    width: 40rem;
    border: 4px #0C0C0C solid;
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.981);
}

/* Footer */

footer {
    position: relative; 
    margin-top: auto; 
    width: 100%;
    height: auto;
    background-color: rgba(146, 142, 142, 0.074);
}

footer p {
    color: #fff;
    font-family: $font-family-2;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    padding-top: 50px;
}

div img {
    width: 27px;
    margin: 6.5px;
}

/* Vista de Vinos */

.galeria {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 270px);
    grid-gap: 18px;
    margin: auto;
}

.item {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    position: relative;
    border: 2px solid #0C0C0C;
    border-radius: 19.8px;
    box-shadow: 0px 7.2px 14.4px rgba(0, 0, 0, 0.533);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    color: #0C0C0C;
    font-size: 13px;
    font-weight: 600;
    font-family: $font-family-3;
    padding: 7px;
    transition: all 0.9s;
}

.item:hover {
    transform: scale(0.95);
}

.descripcion {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 79px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 19.8px;
    padding: 5px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.descripcion p {
    color: #0C0C0C;
    font-size: 14px;
    font-weight: 300;
}

.item:hover .descripcion {
    opacity: 1;

}

.item1 {
    background-image: url(../img/coquena.jpg);
}

.item2 {
    background-image: url(../img/coquena_rose.jpeg);
}

.item3 {
    background-image: url(../img/gataflora-pink.jpg);
}  

.item4 {
    background-image: url(../img/gataflora.jpeg);
}

.item5 {
    background-image: url(../img/helios-tannat.png);
}

.item6 {
    background-image: url(../img/heliosmalbec.jpg);
}

.item7 {
    background-image: url(../img/puna2600.jfif);
}

.item8 {
    background-image: url(../img/puna2600rose.jpg);
}

/* Termina vista de vinos */

/* Media Queries */
@media (max-width: 900px) {
    .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 100px);
    grid-gap: 20px;
    }
}

@media (max-width: 600px) {
    .galeria {
    grid-template-columns: auto;
    grid-template-rows: repeat(9, 100px);
    grid-gap: 20px;
    }
}

@media (max-width: 700px) {
    .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: $color2;
    transition: all 0.2s ease-in-out;
    }

    .menu li {
    margin-top: 40px;
    }

    .menu li a {
    padding: 10px;
    }

    .open-menu,
    .close-menu {
    display: block;
    }

    #check:checked ~ .menu {
    right: 0;
    }

}

@media (max-width: 950px){
.about{
    margin: 0 auto;

}

}